@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

*{
    font-family: 'Roboto Condensed', sans-serif;
}
#cke_ruler_wrap {
  max-width: 780px;
  margin: 0 auto;
  display: block;
}

.cke_wysiwyg_frame {
  height: calc(100% - 50px) !important;
  margin-top: 15px !important;
}

.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-target {
  position: relative;
  direction: ltr;
  background: 0 0;
  border-radius: 4px;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-top: 25px;
}

.noUi-connect {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}

.noUi-origin {
  position: absolute;
  height: 0;
  width: 0;
}

.noUi-state-tap .noUi-connect,
.noUi-state-tap .noUi-origin {
  -webkit-transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
  transition: top 0.3s, right 0.3s, bottom 0.3s, left 0.3s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base,
.noUi-handle {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 10px;
}

.noUi-horizontal .noUi-handle {
  width: 10px;
  height: 24px;
  left: -5px;
  top: -4px;
}

.noUi-connect {
  background: rgba(87, 149, 224, 0.25);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-draggable {
  cursor: w-resize;
}
.jtf-custom{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
.button-contact {
    text-align: center;
    background-color: #288ad6 !important;
    width: 48%;
    padding: 0.2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button-contact1 {
    background-color: #06998F !important;
}
.tab-detail--product{
    background: #f9f9f9;
    padding: 1.2rem;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.category-name{
    cursor: pointer;
}
.category-name:hover{
    text-decoration: underline;
}
.primary-user-color{
    color:#06998F;
}
.bg-user-primary{
    background-color: #06998F;
    color:#fff;
}
.noUi-handle {
  position: relative;
  z-index: 1;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: ew-resize;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-marker,
.noUi-pips,
.noUi-tooltip,
.noUi-value {
  position: absolute;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:after,
.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 1px;
  background: #e8e7e6;
  left: 2px;
  top: 6px;
}

.noUi-handle:after {
  left: 5px;
}

[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled] .noUi-handle,
[disabled].noUi-handle,
[disabled].noUi-target {
  cursor: not-allowed;
}

.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-pips {
  color: #999;
}

.noUi-value {
  text-align: center;
  bottom: 18px;
}

.noUi-value-sub {
  color: #ccc;
  font-size: 9px;
}

.noUi-marker {
  background: #ccc;
  bottom: 0;
}

.noUi-marker-large,
.noUi-marker-sub {
  background: #aaa;
}

.noUi-pips-horizontal {
  padding: 10px 0;
  height: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.noUi-value-horizontal {
  -webkit-transform: translate3d(-50%, 50%, 0);
  transform: translate3d(-50%, 50%, 0);
  font-size: 9px;
}

.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 1px;
  height: 4px;
}

.noUi-marker-horizontal.noUi-marker-sub {
  height: 5px;
}

.noUi-marker-horizontal.noUi-marker-large {
  height: 8px;
}

.noUi-tooltip {
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
}

.noUi-horizontal .noUi-tooltip {
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  left: 50%;
  bottom: 120%;
}

::-webkit-scrollbar {
  width: 6px;
  display: none;
}

::-webkit-scrollbar-track {
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background: #a1a1a1;
}

.title_danhmuc .title {
  background: #328e00;
  position: relative;
}

.myspan {
  line-height: 40px;
}

.myspan::before {
  content: "";
  position: absolute;
  border-left: 40px solid #328e00;
  width: 0;
  height: 0;
  top: 0;
  right: -1px;
  border-top: 40px solid #f8f9fa;
}

.title_danhmuc .title_menu {
  border-bottom: 1pt solid #328e00;
}

.my_nav {
  z-index: 999;
  background-color: #06998F;
  top: 0 !important;
  height: 50px;
  width: 100%;
}

.my_ul {
  height: 50px;
}

.my_ul li a {
  color: white;
  height: 50px;
  line-height: 50px;
  display: block;
  padding: 0 1.5rem;
}

.my_slide {
  overflow: hidden;
  height: 449px;
  padding: 0px;
  margin-left: -15px;
}

.my_menucontent {
  position: relative;
  z-index: 999;
  top: 0;
  padding: 0px;
  /* height: 450px; */
  display: none;
}

.box_danhmuc_nav:hover .my_menucontent {
  display: block !important;
}

ul.site-nav {
  padding: 0px !important;
  margin: 0;
}

.title-menu-bar {
  font-size: 1.5rem;
  line-height: 50px;
  background: #ff9d06;
}

.menu-list-cate2 {
  padding: 0.5rem 1rem;
  list-style: none;
  text-align: left;
}

ul.site-nav > li {
  padding: 1rem;
  list-style: none;
  text-align: left;
}

ul.site-nav > li > a {
  color: black;
  text-decoration: none;
}

ul.site-nav > li:hover {
  background: whitesmoke;
}

ul.site-nav > li:hover .submenu {
  display: block;
}

.box_service {
  float: left;
  height: 455px;
  padding-left: 0 !important;
}

.service {
  background: #f7f8f9;
  height: 150px;
  border-bottom: solid 1px #ebebeb;
}

.submenu {
  overflow: hidden;
  display: none;
  width: 680px;
  position: absolute;
  top: 0px;
  /* height: 450px !important; */
  left: 270px;
  /* max-height: 450px; */
  height: 100%;
  margin: 0 !important;
  background: #fff;
  z-index: 10;
}

.submenu ul {
  padding: 5px 20px;
}

.submenu li {
  list-style: none;
}

.submenu li:hover a {
  color: red;
}

.submenu li a {
  color: #898989;
  text-decoration: none;
}

.submenu ul span a {
  color: black;
  font-weight: 600;
  text-decoration: none;
}

#myTab {
  width: 100%;
}

#myTab li {
  background: whitesmoke;
  position: relative;
}

#myTab li a {
  text-decoration: none;
  color: black;
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0;
}


#myTab li a.active {
    border: none;
    color: #fff !important;
    background-color: #06998F;
    box-shadow: 0 8px 6px -6px rgb(202, 199, 199);
}

#myTab li a.active::after {
  display: block;
  color: #fff;
}

#myTab li:hover a {
  background-color: #06998F;
  color:#fff;
}

#myTab li:hover a::after {
  display: block !important;
}

.card-cost {
    font-size: 1rem;
    font-weight: 600;
    color: #737373;
    padding-left: 0.7rem;
}
.bg-image{
    position: absolute;
    background: #bfbfbf2b;
    height: 100%;
    width: 100%;
}

.card-title {
  font-size: 1.1rem;
}
.box-item{
    transition: all 0.2s linear;
}
.box-item:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
    z-index: 1;
}
.box-item:hover .box_img img {
    width: auto;
    max-width: 100%;
    height: auto;
    -webki-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  .box-item:hover .card_title {
    color:#06998F !important;
    text-decoration: underline;
  }
  .box_img{
      padding-top: 1rem;
  }
.mini_menu span a:hover {
  color: red;
}

.mini_menu span {
  font-size: 0.9rem;
  font-weight: 400;
  border-right: 1px solid #bbb3b3;
  line-height: 1rem;
  height: max-content;
  margin: auto 0px;
  padding: 0.1rem 0.3rem;
  text-align: center;
}

.mini_menu span a {
  text-decoration: none;
  color: #a1a1a1;
}

.mini_menu span:last-of-type {
  border: none;
}

.title_danhmuc .title {
  font-size: 1.5rem;
}

.box-item {
  border-right: 0.5px solid whitesmoke;
  border-bottom: 0.5px solid whitesmoke;
  -webkit-border-radius: 0;
  border-radius: 0;
  min-height: 20rem;
}
.price-label{
    color:#06998F;
}
.box_flex {
  border-right: 1px solid rgba(0, 0, 0, 0.125);
}

.gia_chitiet {
  font-size: 2rem;
  font-weight: 500;
}

.label_km {
  font-size: 0.8rem;
}

.label_giacu {
  line-height: 0;
  font-size: 14px;
  color: #8e9098;
  text-decoration: line-through;
}

.box_list_hinh {
  display: block;
  margin: auto;
}

.box_list_hinh span {
  padding: 0.4rem;
  width: 65px;
  height: 65px;
  overflow: hidden;
  border-color: #b1adad !important;
}

.box_list_hinh span:hover {
  border-color: red !important;
}

.box_list_hinh span img {
  width: 100%;
}

.prev,
.next {
  font-size: 3rem;
  text-align: center;
  width: 65px;
  height: 65px;
  line-height: 65px;
  color: whitesmoke;
}

.prev:hover {
  color: #949393;
}

.next:hover {
  color: #949393;
}

.tab_chitiet .nav-link {
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
}

.tab_chitiet .nav-link.active {
  border-color: #495057 #dee2e6 #fff !important;
  border-top: 2pt solid;
}

.tab_chitiet .nav-link:hover {
  color: red;
  border-color: white;
}

.viewmore {
  height: 100% !important;
}

.title_sp_lq {
  font-size: 1.3rem;
  color: black;
  display: block;
  font-weight: 500;
  position: relative;
  padding-left: 8px;
  margin-bottom: 5px;
}

.title_sp_lq::before {
    content: "";
    font-size: 1.3rem;
    position: absolute;
    bottom: -8px;
    left: 8px;
    width: 47px;
    /* height: 100%; */
    background: #06998F;
    height: 4px;
}

.slide_sp_lienquan {
  padding-bottom: 20px;
}

.slide_sp_lienquan .slide_item {
  padding: 50px 0px !important;
  border-top: 1pt solid #dee2e6;
  border-bottom: 1pt solid #dee2e6;
}

.card-img-top {
  margin: 0px auto;
  border: none !important;

}

.slide_item .col-lg-3 {
  outline: none !important;
}

.slide_item a {
  outline: none !important;
}

.box-item_slide:hover {
    box-shadow: 0 0 50px rgba(0,0,0,.1);
    box-sizing: border-box;
    z-index: 1;
}
/* .box-item_slide:hover .cart-button i {
    background-color: #06998F;
  } */
.btn_cart:hover {
  color: red;
}

.border-khoi {
  border: 1px solid #e8eaee;
}

.color-khoi {
  color: #e8eaee;
}

.bg-khoidam {
  background: #e8eaee;
}

.wrapper_left .title {
  font-size: 1.4rem;
  color: black;
}

.row_cart {
  border-bottom: 1px solid #e8eaee;
  padding: 20px;
}

.row_cart .name_sp {
  font-size: 1.2rem;
  font-weight: 400;
}

.row_cart .info_sp {
  font-size: 1rem;
}

.row_cart .gia_sp {
  font-size: 1.1rem;
  font-weight: 500;
  color: red;
}

.border-khoi2 {
  border: 1px solid #bdbdbd;
}

.color-khoi2 {
  color: #bdbdbd;
}

.bg-khoi3 {
  background: #f8f8fa;
}

.box_user_header {
    position: relative;
    width: 7rem;
    align-self: center;
    border-radius: 3px;
    border: 1px solid transparent;
}

.box_user_header .box_info_user {
    position: absolute;
    padding: 10px;
    right: 24px;
    top: 47px;
    display: none !important;
    width: 200px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
    border-radius: 0 4px 4px 4px;
    z-index: 9999;
}

.space_white {
  width: 100%;
  position: absolute;
  height: 15px;
  background: #fff;
  right: 0;
  bottom: -4px;
  left: 0;
  display: none !important;
  z-index: 10;
}


.box_user_header:hover .box_info_user {
  display: block !important;
}

.box_user_header:hover .space_white {
  display: block !important;
}

.box_cart_header {
    position: relative;
    width: 6rem;
    background-color: #7CB8B4;
    align-self: center;
    border-radius: 3px;
    border: 1px solid transparent;
}

.box_cart_header .box_info_cart {
  position: absolute;
  right: 0;
  top: 100%;
  display: none !important;
  width: 300px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 4px 0 4px 4px;
  border-radius: 4px 0 4px 4px;
  z-index: 9999
  ;
}

.box_cart_header:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.box_cart_header:hover .box_info_cart {
  display: block !important;
}

.box_cart_header:hover .space_white {
  display: block !important;
}

.border-bottom-khoi {
  border-bottom: 1px solid #dadada !important;
}

ul.my_ul li.nav-item:hover {

}

.box_info_user > div.w-100:hover {
  background: #f8f8fa;
}

.box_info_user > div > a {
  text-decoration: none;
  color: black;
}

.box_btn_mua_hidden {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 9;
  opacity: 0;
}

.box_btn_ct {
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  opacity: 0;
}

.box_item:hover .box_btn_mua_hidden {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  opacity: 1;
}

.box_item:hover .box_btn_ct {
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
  opacity: 1;
}
.box_btn_ct i:hover{
    color:#06998F;
}
.box_btn_mua_hidden .bg-white {
  opacity: 0.6;
  position: absolute;
}

.card_old_cost {
  font-size: 13px;
  color: #999;
  text-decoration: line-through;
  margin-right: 4px;
  line-height: 1.4;
}

.card_label_km {
  font-size: 0.7rem;
  align-self: center;
  color: #fff;
  font-weight: 600;
  line-height: 1;
  border-radius: 2px;
  background-color: #e53935;
}

.font_size_1 {
  font-size: 1rem !important;
}

.font_size_2 {
  font-size: 1.2rem !important;
}

.font_size_3 {
  font-size: 1.4rem !important;
}

.font_size_4 {
  font-size: 1.6rem !important;
}

.font_size_0_8 {
  font-size: 0.8rem !important;
}

.the_a {
  text-decoration: none;
  color: black;
}

.the_a:hover {
  text-decoration: none;
}

/* ////////// */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  transform: scale(0.6);
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* slide menu */

@media (min-width: 768px) {
  .fb-customerchat span iframe {
    bottom: 10px !important;
    right: 60px !important;
  }
}

@media (max-width: 768px) {
  .sticky_bot {
    position: sticky;
    bottom: 0;
    z-index: 999;
  }
  .offcanvas-collapse {
    /* padding: 1rem; */
    position: fixed;
    top: 4.1rem;
    bottom: 0;
    width: 70%;
    left: 0rem;
    z-index: 9;
    overflow-y: auto;
    /* background-image: linear-gradient(#3786bd, #24475f); */
    background: white;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .offcanvas-collapse.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  .offcanvas-collapse_filter {
    position: fixed;
    top: 7.2rem;
    bottom: 0;
    width: 70%;
    right: -1rem;
    z-index: 99;
    overflow-y: auto;
    /* background-image: linear-gradient(#3786bd, #24475f); */
    background: white;
    transition: -webkit-transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  .offcanvas-collapse_filter.open {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
}

.my_ul_menu .nav-item {
  border-bottom: 1px solid white;
  position: relative;
}

.my_ul_menu .nav-item > .nav-link {
  padding-left: 40px;
  height: 50px;
  line-height: 2rem;
  color: #464646;
}

.my_ul_menu .nav-item:hover > .nav-link {
  background: whitesmoke !important;
}

.my_ul_menu .nav-item:hover > .nav-link > i {
  color: red;
}

.my_ul_menu .nav-item > i {
  position: absolute;
  right: 10px;
  font-size: 0.8rem;
  width: 30px;
  height: 50px;
  top: 0;
  line-height: 50px;
  text-align: center;
  color: #898989;
  transition: 0.5s;
}

.my_ul_menu .nav-item:hover .mysubmenu {
  display: block;
}

.xoay180 {
  transform: rotate(180deg);
}

.fb_dialog {
  bottom: 10px !important;
  right: 10px !important;
  transform: scale(0.8);
}

.w-90 {
  width: 90%;
}

.menu_delete > .dropdown-menu::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  left: -9px;
  background: white;
  border: 1px solid #d2d1d1;
  border-top: 0px;
  border-right: 0px;
  z-index: -1;
}

.mydropdown {
  left: 48px !important;
  top: -43px !important;
  min-width: 5rem !important;
}

.strect_img_chitiet {
  max-width: 455px;
  max-height: 445px;
  width: 100%;
  height: 100%;
}


/*------------------------blog---------------------*/
.li-sidebar-search-form .li-search-field {
	width: calc(100% - 50px);
	border: 1px solid #ccc;
	padding: 0 10px;
	color: #666666;
	font-size: 14px;
	height: 50px;
	float: left;
	text-transform: capitalize;
}
.li-sidebar-search-form .li-search-field {
	width: calc(100% - 50px);
	border: 1px solid #e1e1e1;
	padding: 0 10px;
	color: #242424;
	font-size: 14px;
	height: 50px;
	float: left;
	text-transform: capitalize;
	background: #ffffff;
}
.li-sidebar-search-form .li-search-btn {
	width: 50px;
	height: 50px;
	margin-left: -4px;
	text-align: center;
	cursor: pointer;
	background-color: #f8f8f8;
	border: 1px solid #e1e1e1;
}
.li-sidebar-search-form .li-search-btn i {
	font-size: 20px;
	line-height: 50px;
	color: #242424;
	transition: all 0.3s ease-in-out;
}
.li-sidebar-search-form .li-search-btn:hover i {
	color: #fed700;
}
.li-blog-sidebar .li-blog-sidebar-title {
	color: #242424;
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	position: relative;
	margin-bottom: 52px;
	font-family: roboto;
}
.li-blog-sidebar .li-blog-sidebar-title::before {
	width: 55px;
	height: 2px;
	bottom: -25px;
	left: 0;
	background-color: #fed700;
	content: "";
	position: absolute;
}
.li-blog-sidebar .li-blog-archive li {
	margin-bottom: 20px;
}
.li-blog-sidebar .li-recent-post {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.li-blog-sidebar .li-recent-post .li-recent-post-thumb {
	width: 65px;
	border: 1px solid #e1e1e1;
}
.li-blog-sidebar .li-recent-post .li-recent-post-des {
	padding-left: 10px;
}
.li-blog-sidebar .li-recent-post .li-recent-post-des span {
	display: block;
	font-size: 13px;
	font-weight: 600;
	padding: 10px 0;
	text-transform: capitalize;
}
.li-blog-sidebar .li-recent-post .li-recent-post-des span a {
	color: #242424;
	font-weight: 400;
}
.li-blog-sidebar .li-recent-post .li-recent-post-des span a:hover {
	color: #fed700;
}
.li-blog-sidebar .li-recent-post .li-recent-post-des span.li-post-date {
	color: #242424;
	font-size: 13px;
	font-weight: 400;
}
.li-blog-sidebar .li-blog-tags li {
	display: inline-block;
	margin-bottom: 15px;
}
.li-blog-sidebar .li-blog-tags li a {
	color: #242424;
	font-size: 13px;
	border: 1px solid #e1e1e1;
	padding: 5px 15px;
	display: inline-block;
	text-transform: uppercase;
}
.li-blog-sidebar .li-blog-tags li a:hover {
	color: #ffffff;
	background-color: #fed700;
	border-color: #fed700;
}
.li-blog-single-item .li-blog-content .li-blog-details h3 {
	color: #242424;
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
	text-transform: capitalize;
	font-family: Poppins;
	padding-bottom: 15px;
	margin: 0;
}
.li-blog-single-item .li-blog-content .li-blog-details .li-blog-meta {
	padding: 5px 0 22px;
}
.li-blog-content p {
	margin-bottom: 20px;
}
.li-blog-single-item .li-blog-content .li-blog-details .li-blog-meta a {
	color: #a4a4a4;
	font-size: 12px;
	text-transform: uppercase;
	position: relative;
	margin-right: 10px;
	transition: all 0.3s ease-in-out;
}
.li-blog-single-item .li-blog-content .li-blog-details .li-blog-meta a:hover {
	color: #fed700;
}
.li-blog-single-item .li-blog-content .li-blog-details .li-blog-meta a i {
	font-size: 16px;
	vertical-align: middle;
	margin-right: 5px;
}
.li-blog-single-item .li-blog-content .li-blog-details .li-blog-meta p {
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	color: #898989;
	margin-bottom: 10px;
}
.slick-dot-style ul.slick-dots {
	bottom: 20px;
	left: 50%;
	position: absolute;
	-webkit-transform: translate(-50%, 0);
	-moz-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}
.slick-dot-style ul.slick-dots li {
	display: inline-block;
	margin: 0 5px;
}
.slick-dot-style ul.slick-dots li button {
	width: 12px;
	height: 12px;
	line-height: 12px;
	padding: 0;
	background-color: #fed700;
	border: none;
	border-radius: 50%;
	display: block;
	text-indent: -5000px;
	cursor: pointer;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
}
.slick-dot-style ul.slick-dots li.slick-active button {
	background-color: #fed700;
	width: 30px;
	border-radius: 10px;
}
.li-paginatoin-area {
	border-top: 1px solid #e1e1e1;
}
.li-paginatoin-area .li-pagination-box li {
	display: inline-block;
}
.li-paginatoin-area .li-pagination-box li a {
	color: #242424;
	padding: 10px;
}
.li-paginatoin-area .li-pagination-box li.active a {
	color: #fed700;
}
.li-paginatoin-area .li-pagination-box li a:hover {
	color: #fed700;
}
/*BLog Details*/
.li-blog-blockquote blockquote {
	border: 1px solid #e1e1e1;
	padding: 40px;
	position: relative;
	margin: 25px 0;
	font-style: italic;
	background: #f7f7f7;
}
.li-blog-blockquote {
	padding: 0 0 0 40px;
}
.li-blog-blockquote blockquote > p::before {
	content: "";
	background: #fed700;
	position: absolute;
	width: 5px;
	height: 100%;
	top: 0;
	left: 0;
}
.li-tag-line {
	padding: 25px 0 18px;
	margin-top: 20px;
	border-top: 1px solid #e1e1e1;
	border-bottom: 1px solid #e1e1e1;
}
.li-tag-line h4 {
	color: #242424;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	display: inline-block;
	padding-right: 5px;
}
.li-tag-line a {
	font-style: italic;
	text-transform: capitalize;
	color: #242424;
	transition: all 0.3s ease-in-out;
}
.li-tag-line a:hover {
	color: #fed700;
}
.li-blog-sharing h4 {
	color: #242424;
	font-size: 14px;
	font-weight: 600;
	text-transform: capitalize;
	display: block;
	padding-bottom: 26px;
	margin-bottom: 0;
}
.li-blog-sharing a {
	color: #292825;
	font-size: 16px;
	height: 36px;
	width: 36px;
	text-align: center;
	line-height: 36px;
	display: inline-block;
	margin-right: 5px;
	background-color: #e1e1e1;
	border: 1px solid #e1e1e1;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.li-blog-sharing a:hover {
	color: #ffffff;
	background-color: #fed700;
	border-color: #fed700;
}
.li-comment-section h3 {
	color: #242424;
	font-size: 18px;
	font-weight: 600;
	padding-bottom: 25px;
	text-transform: uppercase;
	margin-bottom: 0;
}
.li-comment-section ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding: 10px 20px;
	margin-bottom: 30px;
	border: 1px solid #e1e1e1;
}
.li-comment-section ul li .author-avatar {
	-ms-flex-preferred-size: 70px;
	flex-basis: 70px;
}
.li-comment-section ul li .comment-body {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
}
.li-comment-section ul li .comment-body h5 {
	color: #242424;
	font-size: 14px;
	font-weight: 600;
	padding-bottom: 5px;
	text-transform: capitalize;
}
.li-comment-section ul li .comment-body .comment-post-date {
	color: #888888;
	padding-bottom: 10px;
}
.li-comment-section ul li .comment-body .reply-btn {
	float: right;
}
.li-comment-section ul li .comment-body .reply-btn a {
	color: #fed700;
	font-size: 12px;
	display: inline-block;
	padding: 3px 15px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-transform: capitalize;
	border: 1px solid #fed700;
}
.li-comment-section ul li .comment-body .reply-btn a:hover {
	color: #ffffff;
	background-color: #fed700;
}
.li-comment-section ul li.comment-children {
	margin-left: 40px;
}
.li-blog-comment-wrapper h3 {
	color: #242424;
	font-size: 18px;
	font-weight: 600;
	padding: 0 0 26px;
	text-transform: uppercase;
	border-bottom: 1px solid #e1e1e1;
	margin-bottom: 0;
}
.li-blog-comment-wrapper p {
	padding: 25px 0 3px;
}
.li-blog-comment-wrapper .comment-post-box label {
	color: #242424;
	font-weight: 600;
	margin-bottom: 25px;
	display: block;
	text-transform: capitalize;
}
.li-blog-comment-wrapper .comment-post-box textarea {
	height: 130px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	background: #f8f8f8;
	border: none;
}
.li-blog-comment-wrapper .comment-post-box .coment-field {
	background: #f8f8f8;
	border: none;
	color: #666666;
	padding: 8px 10px;
	width: 100%;
}
.li-btn-2 {
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	line-height: 40px;
	border: none;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #fed700;
	padding: 0 20px;
	text-transform: uppercase;
	display: inline-block;
}
.li-btn-2:focus {
	background-color: #fed700;
}
.li-btn-2:hover {
	color: #ffffff;
	background-color: #242424;
}



/**/
.site-section {
    padding: 2.5em 0; }
    @media (min-width: 768px) {
      .site-section {
        padding: 5em 0; } }
    .site-section.site-section-sm {
      padding: 4em 0; }

  .section-heading h2 {
    font-weight: 700;
    color: #000; }

  .border-top {
    border-top: 1px solid #edf0f5 !important; }

  .site-footer {
    padding: 4em 0;
    background: #333333; }
    @media (min-width: 768px) {
      .site-footer {
        padding: 5em 0; } }
    .site-footer .border-top {
      border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
    .site-footer p {
      color: #737373; }
    .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
      color: #fff; }
    .site-footer a {
      color: #999999; }
      .site-footer a:hover {
        color: white; }
    .site-footer ul li {
      margin-bottom: 10px; }
    .site-footer .footer-heading {
      font-size: 16px;
      color: #fff; }
      @media (max-width: 767.98px) {
        .retro-layout .img-1 {
          height: 400px !important;
          position: relative;
          margin-bottom: 30px; } }

      .retro-layout .mb30 {
        margin-bottom: 30px; }

      .retro-layout .hentry {
        display: block;
        position: relative;
        border-radius: 4px;
        overflow: hidden; }

      .retro-layout .gradient {
        position: relative; }
        .retro-layout .gradient:before {
          z-index: 1;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
          background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }

      .retro-layout .post-category {
        margin-left: 20px;
        margin-top: 10px; }

      .retro-layout .v-height {
        height: 300px; }

      .retro-layout .text {
        position: absolute;
        bottom: 0;
        z-index: 10;
        padding: 20px;
        max-width: 350px; }
        .retro-layout .text h2 {
          color: #fff;
          font-size: 26px; }
        .retro-layout .text span {
          color: rgba(255, 255, 255, 0.5); }
        .retro-layout .text.text-sm h2 {
          font-size: 18px;
          line-height: 1.5; }

      .retro-layout .two-col > a {
        width: calc(50% - 15px);
        float: left; }
        @media (max-width: 767.98px) {
          .retro-layout .two-col > a {
            width: 100% !important;
            float: none !important;
            margin-bottom: 30px; } }

      .retro-layout-2 .v-height {
        height: 200px; }

      @media (max-width: 991.98px) {
        .retro-layout-2 .img-1 {
          height: 200px; } }

      .retro-layout-2 .h-entry {
        display: block;
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        background-size: cover;
        background-position: center center; }
        .retro-layout-2 .h-entry .post-category {
          color: #fff; }
        .retro-layout-2 .h-entry.mb-30 {
          margin-bottom: 30px; }
        .retro-layout-2 .h-entry .date {
          font-size: 15px; }
        .retro-layout-2 .h-entry.gradient {
          position: relative; }
          .retro-layout-2 .h-entry.gradient:before {
            z-index: 1;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
            background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
            background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
            background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
            background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }

      .retro-layout-2 .text {
        position: absolute;
        bottom: 0;
        z-index: 10;
        padding: 20px;
        max-width: 350px; }
        .retro-layout-2 .text h2 {
          color: #fff;
          font-size: 18px;
          line-height: 1.5;
          margin-bottom: 0; }
        .retro-layout-2 .text span {
          color: rgba(255, 255, 255, 0.5); }
        .retro-layout-2 .text.text-sm h2 {
          font-size: 18px;
          line-height: 1.5; }

      .retro-layout-2 .gradient {
        position: relative; }
        .retro-layout-2 .gradient:before {
          z-index: 1;
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: -moz-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          background: -webkit-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
          background: -o-linear-gradient(top, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#cc000000',GradientType=0 ); }

      .entry2 img {
        margin-bottom: 30px; }

      .entry2 h2 {
        font-size: 24px;
        margin-bottom: 30px;
        font-weight: 700;
    height: 4rem; }
        .entry2 h2 a {
          color: #000; }

      .entry2 .excerpt {
        padding-left: 20px;
        padding-right: 20px; }

      .entry2 .post-meta {
        color: #b3b3b3;
        font-size: 13px;
        width: 100%;
        display: block; }
        .entry2 .post-meta a {
          color: #000; }
        .entry2 .post-meta .author-figure img {
          width: 30px;
          border-radius: 50%; }

      .entry3, .entry4 {
        margin-bottom: 30px; }
        .entry3 .text h2, .entry4 .text h2 {
          font-size: 18px;
          line-height: 1.5;
          font-weight: 700; }
          .entry3 .text h2 a, .entry4 .text h2 a {
            color: #000; }
        .entry3 .figure, .entry4 .figure {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 150px;
          flex: 0 0 150px;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          opacity: 1; }
        .entry3:hover figure, .entry3:focus figure, .entry4:hover figure, .entry4:focus figure {
          opacity: .5; }

      .entry4 {
        margin-bottom: 30px; }
        .entry4 .text h2 {
          font-size: 16px;
          line-height: 1.5;
          font-weight: 700; }
          .entry4 .text h2 a {
            color: #000; }
        .entry4 .figure {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100px;
          flex: 0 0 100px; }

      .blog-entries .blog-entry {
        display: block;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
        margin-bottom: 30px;
        position: relative; }
        .blog-entries .blog-entry:hover, .blog-entries .blog-entry:focus {
          opacity: .7;
          top: -1px;
          -webkit-box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important;
          box-shadow: 0 3px 50px -2px rgba(0, 0, 0, 0.2) !important; }
        .blog-entries .blog-entry .blog-content-body {
          padding: 20px;
          border: 1px solid #efefef;
          border-top: none; }
        .blog-entries .blog-entry img {
          max-width: 100%; }
        .blog-entries .blog-entry h2 {
          font-size: 18px;
          line-height: 1.5; }
        .blog-entries .blog-entry p {
          font-size: 13px;
          color: gray; }

      .blog-entries .post-meta {
        margin-bottom: 20px;
        font-size: 14px;
        color: #b3b3b3; }
        .blog-entries .post-meta .author img {
          width: 30px;
          border-radius: 50%;
          display: inline-block; }
          .post-category {
            display: inline-block;
            padding: 2px 10px;
            border-radius: 4px;
            letter-spacing: .2em;
            font-weight: 700;
            font-size: .6rem;
            text-transform: uppercase; }



            .wrapper_loading {
                position: absolute;
                height: 100%;
                z-index: 9999;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
            }
            .background_loading {
                background: rgba(194, 194, 194, 0.616);
                opacity: 0.6;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            .img_loading {
                z-index: 9999;
            }

            .loader {
                color: #ffffff;
                font-size: 90px;
                text-indent: -9999em;
                overflow: hidden;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                margin: 72px auto;
                position: relative;
                -webkit-transform: translateZ(0);
                -ms-transform: translateZ(0);
                transform: translateZ(0);
                -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
                animation: load6 1.7s infinite ease, round 1.7s infinite ease;
            }
            @-webkit-keyframes load6 {
                0% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
                        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                }
                5%,
                95% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
                        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                }
                10%,
                59% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
                        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
                        -0.297em -0.775em 0 -0.477em;
                }
                20% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
                        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
                        -0.749em -0.34em 0 -0.477em;
                }
                38% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
                        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
                        -0.82em -0.09em 0 -0.477em;
                }
                100% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
                        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                }
            }
            @keyframes load6 {
                0% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
                        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                }
                5%,
                95% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
                        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                }
                10%,
                59% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
                        -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
                        -0.297em -0.775em 0 -0.477em;
                }
                20% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
                        -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
                        -0.749em -0.34em 0 -0.477em;
                }
                38% {
                    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
                        -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
                        -0.82em -0.09em 0 -0.477em;
                }
                100% {
                    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
                        0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
                }
            }
            @-webkit-keyframes round {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
            @keyframes round {
                0% {
                    -webkit-transform: rotate(0deg);
                    transform: rotate(0deg);
                }
                100% {
                    -webkit-transform: rotate(360deg);
                    transform: rotate(360deg);
                }
            }
