<app-loading></app-loading>
<div class="container">
    <div class="row">

        <div class=" col-md-2 col-lg-1 col-12 box_list_hinh flex-row order-2 order-md-1 p-0">
            <span class="fa fa-angle-up prev d-none d-md-block"></span>

            <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="bg-default">
                <div ngxSlickItem *ngFor="let item of hinhs">
                    <div class="p-1">
                        <span
                            class="rounded-lg bg-white border-light border d-flex align-items-center my-md-2 mx-md-0 my-0 mx-2 ">
                            <img src="{{api_url}}/upload/sanpham/{{ item?.Hinh }}" (click)="onChangeHinh(item)"
                                alt="">
                        </span>
                    </div>
                </div>
                <div class="p-1">
                    <span
                        class="rounded-lg bg-white border-light border d-flex align-items-center my-md-2 mx-md-0 my-0 mx-2 ">
                        <img src="{{api_url}}/upload/sanpham/{{ product?.Hinh}}" (click)="onChangeHinh(product)"
                            alt="">
                    </span>
                </div>
            </ngx-slick-carousel>

            <span class="fa fa-angle-down next mt-2 d-none d-md-block"></span>

        </div>
        <div class="col-lg-5 col-md-10 col-12 p-5 py-md-0 order-1 order-md-2 d-flex justify-content-center mt-3">
            <div
                class="img_sanpham text-center px-md-2 py-md-4 px-3 d-flex justify-content-center mx-auto strect_img_chitiet m-auto">
                <img *ngIf="currentHinh" src="{{api_url}}/upload/sanpham/{{currentHinh }}" class="strect_img_chitiet"
                    style="object-fit: contain;cursor: pointer;" (click)="openImageModal(currentHinh)">
            </div>
        </div>
        <div class="col-lg-6 col-12 order-3 px-0">
            <div class="box_content_chitiet py-5">
                <div class="px-2">
                    <p class="title_chitiet">{{ product?.TenSanPham |titlecase}}</p>
                    <span class="text-secondary font-weight-bold">Nhà sản xuất:</span>
                    <span class="mr-2"> {{ product?.TenNSX  |titlecase}}</span>

                    <div class=""><span class="text-secondary font-weight-bold">Thông tin sản phẩm</span><div class="mota_chitiet pt-2" style="min-height: 100px;word-break: break_work"
                        [innerHtml]="product?.MoTa">

                    </div>
                    </div>
                    <div class="jtf-custom">
                        <a href="tel:18006501"  class="button-contact">1800.6501<span>Tư vấn miễn phí</span></a>
                        <a href="tel:0855100001"  class="button-contact button-contact1">0855.100.001
                        <span>Freeship Online</span></a>
                    </div>

                    <hr>

                    <ng-container *ngIf="product && product.SoLuongTon === 0; else elseBlock">
                        <span class="gia_chitiet text-danger d-block out-sell">Sản phẩm này đã hết hàng</span>
                        <div class="d-flex flex-row">
                            <div class="d-flex mt-2">
                                <input type="text" placeholder="Email của bạn" class="input-noti">
                                <button class="btn btn-noti">Thông báo khi có hàng</button>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #elseBlock>
                        <span class="gia_chitiet text-danger d-block">
                            {{ product?.price * (1-product?.rate) | currency:'VND':'symbol'}}
                        </span>
                        <div class="d-flex flex-row" *ngIf="product?.rate != null">
                            <span class="card_old_cost font_size_0_8">
                                {{product?.price | currency:'VND':'symbol'}}</span>
                            <span class="card_label_km btn btn-sm btn-danger p-0 font_size_0_8">
                                -{{ (product?.rate)*100 | number:'1.0-1' }}%
                            </span>
                        </div>
                    </ng-template>

                    <ng-container *ngIf="product?.SoLuongTon !==0">
                        <hr>
                        <div class="col-lg-12 d-md-flex d-none">
                            <div class="row">
                                <div class="col-md-2 p-0 col-4">
                                    <span class="text-left" style="line-height: 38px"> Số lượng:
                                    </span>
                                </div>
                                <div class="input-group col-md-5 col-8">
                                    <span class="input-group-prepend">
                                        <button type="button" class="btn btn-number" (click)="onMinus()"
                                            [disabled]="soluong==1">
                                            <span class="fa fa-minus"></span>
                                        </button>
                                    </span>
                                    <input class="form-control  text-center " readonly type="text" [(ngModel)]="soluong">
                                    <span class="input-group-append">
                                        <button type="button" class="btn btn-number" (click)="onPlus()"
                                            [disabled]="soluong==10">
                                            <span class="fa fa-plus"></span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-md-5 p-0 col-12" >
                                    <span class="btn w-100 mr-2 btn_muangay" (click)="onAddCart(product)">Mua
                                        ngay</span>
                                </div>
                            </div>
                        </div>

                    </ng-container>
                </div>
                <div class="d-block d-md-none bg-white  w-100 p-2  mat-elevation-z8"
                    style="position: sticky;bottom: 0;z-index: 999;left:0">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="input-group col-7 p-0" style="transform: scale(0.8);margin-left: -1.3rem">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn btn-number" (click)="onMinus()"
                                        [disabled]="soluong==1">
                                        <span class="fa fa-minus"></span>
                                    </button>
                                </span>
                                <input class="form-control  text-center " type="text" [(ngModel)]="soluong">
                                <span class="input-group-append">
                                    <button type="button" class="btn btn-number" (click)="onPlus()"
                                        [disabled]="soluong==10">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </span>
                            </div>
                            <div class="col-md-5 p-0 col-12" >
                                <span class="btn w-100 mr-2 btn_muangay" (click)="onAddCart(product)">Mua
                                    ngay</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<div class="container p-0">
    <div class="tab-detail--product">
            <mat-tab-group>
                <mat-tab label="Thông tin sản phẩm">
                    <div class="tab-pane container pt-3">
                        <div class="content_mota_chitiet overflow-hidden"
                            [innerHtml]="product?.ThongTin | textTruncate:0:1500:!textShow | noSanitize">

                        </div>
                        <div class="w-100 text-center p-3"><span class="btn btn-show" (click)="textShow=!textShow">Xem thêm</span></div>
                    </div>
                </mat-tab>
                <mat-tab label="Đánh giá">
                    <app-danhgia [currentName]='product?.TenSanPham'></app-danhgia>
                </mat-tab>
            </mat-tab-group>
    </div>



    <br>
    <div class="col-lg-12 p-0 mx-0">
        <span class="title_sp_lq">Sản phẩm liên quan</span>
        <div class="slide_sp_lienquan">
            <app-sanphamlienquan></app-sanphamlienquan>
        </div>
    </div>
</div>
