<mat-progress-bar *ngIf="loading " mode="indeterminate" class="example-tree-progress-bar">
</mat-progress-bar>
<ng-container *ngIf="isloaded">
    <div class="row">
        <div class="w-100 d-md-flex d-none py-3  justify-content-end   ">
            <button mat-raised-button color="basic" class=" mx-1 py-0  text_color_2  button_label "
                *ngFor="let dm of getsub_danhmuc(idblock?.id)"
                (click)="onClickDanhMuc(dm)">{{dm?.Ten |titlecase}}</button>
        </div>
        <div class="text-center font-16pt mx-auto d-md-none d-block p-3">
            {{idblock?.Ten | uppercase}}
        </div>
    </div>
    <mat-card class="row p-0  " [ngClass]="{'shadow-none':matches}">
        <div class="d-flex p-2" style="background-color: #f8f9fa;" *ngFor="let item of danhmucData "><h5 class="font-weight-bold category-name"  (click)="searchCategory(item)">{{item.TenDanhMuc}}</h5></div>
        <mat-card-content class="d-flex flex-row">
            <div class="col-lg-12 px-md-0 px-1 d-flex flex-wrap ">
                <div *ngFor="let item of products" class="col-lg-3 col-6 box_item d-block p-0 m-0 ">
                    <div class="card box-item text-center  w-100 " style="height: 100%" [routerLink]="['/chitietsanpham/'+item.id]" >
                        <div class="box_img p-2 pt-4" style="height: 13rem; overflow: hidden">
                            <img class="card-img-top w-100 h-100" src="{{api_url}}/upload/sanpham/{{item.Hinh}}"
                                alt="Card image">
                        </div>
                        <div class="card-content p-2">
                            <a class="text-decoration-none">
                                <span
                                    class="card_title text-center text_color_1 d-block text-truncate mx-auto w-90 font-weight-bold">
                                    {{ item.TenSanPham |titlecase}}
                                </span>
                            </a>
                            <ng-container *ngIf="item?.SoLuongTon===0;else elseBlock">
                                <span class="card-cost text-center d-block">Hết hàng</span>
                                <div class="d-flex flex-row justify-content-center">
                                    <span class="card_old_cost text-center invisible">-</span>
                                </div>
                            </ng-container>
                            <ng-template #elseBlock>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <span class="card-cost text-center d-block pr-2 price-label">
                                        {{ item?.price * (1-(item?item.rate:0)) | currency:'VND':'symbol'}}
                                    </span>
                                    <div class="d-flex flex-row justify-content-center">
                                        <ng-container *ngIf="item?.rate !== null; else elseBlock2">
                                            <span class="card_old_cost text-center price-label">
                                                {{item?.price | currency:'VND':'symbol'}}
                                            </span>
                                            <span class="card_label_km btn btn-sm btn-danger p-0 ">
                                                -{{ item?.rate * 100 }}%
                                            </span>
                                        </ng-container>
                                        <ng-template #elseBlock2>
                                            <span class="card_old_cost text-center invisible">-</span>
                                        </ng-template>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>

</ng-container>
