<ng-container *ngIf="isloaded">
    <div class="container-fluid header-top">

    </div>
    <div class="container-fluid ">
        <div class="d-flex row" style="height: 6rem">
            <div class="col-2 mr-auto  d-lg-none d-flex">
                <button mat-icon-button class="my-auto" color="warn">
                    <span class="fas fa-bars" style="font-size: 1.8rem" (click)="onShowMenu()"></span>
                </button>
            </div>
            <div class="col-lg-3 d-none d-lg-block align-self-center mx-auto">
                <a [routerLink]="['/']" routerLinkActive="router-link-active"
                    class="w-100 d-flex justify-content-center justify-content-lg-end">
                    <img src="../../../../assets/upload/logo.png" style="    max-height: 3.8rem;">
                </a>
            </div>
            <div class="col-lg-6 d-lg-flex d-none">
                <div class="search_form align-self-center w-100 px-lg-5 ">
                    <div class="input-group" style="max-width: 600px">
                        <input (keyup)="applyFilterAdd($event.target.value)" [matMenuTriggerFor]="menu2" type="text"
                            class="form-control" placeholder="Nhập để tìm ..." [(ngModel)]="input_tim">
                        <div class="input-group-append">
                            <button class="input-group-text button-search text-white" (click)="onSearch()"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                    <mat-menu #menu2="matMenu" yPosition="below" style="width: 400px">
                        <ng-template matMenuContent>
                            <div class="box_tim">
                                <table class="table table-hover box_tim">
                                    <tbody>
                                        <tr *ngFor="let item of dataSourceSanPham"
                                            [routerLink]="['/chitietsanpham/',item.id]"
                                            routerLinkActive="router-link-active">
                                            <td class="d-flex flex-row p-2 ">
                                                <span class="mr-3">
                                                    <img src="{{api_url}}/upload/sanpham/{{item.Hinh}}"
                                                        style="max-height: 50px;max-width: 50px" alt="">
                                                </span>
                                                <span class="w-100">
                                                    {{item.TenSanPham}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>

                    </mat-menu>
                </div>
            </div>
            <div class="col-lg-3 col ml-auto d-flex flex-row p-0 justify-content-center">
                <div class="box_user_header d-flex pr-5">
                    <ng-container *ngIf="!currentUser">
                        <span class="btn_user fas fa-user align-self-center"
                            style="font-size: 1.5rem;line-height: 4rem;color: #06998F"></span>
                    </ng-container>
                    <ng-container *ngIf="currentUser">
                        <div class="d-flex align-items-center h-100">
                            <div class="rounded-circle" style="overflow: hidden ;height: 2rem;width: 2rem">
                                <img src="{{api_url}}/upload/user/{{ currentUser.Hinh?currentUser.Hinh:'no_image.png' }}"
                                    style="height: 100%;width: 100%" alt="">
                            </div>
                            <div class="px-1">
                                <span class="text-truncate d-block" style="width: 6.25rem">{{currentUser.Ten}}</span>
                            </div>
                        </div>
                    </ng-container>
                    <div class="box_info_user bg-white d-flex flex-column">
                        <ng-container *ngIf="currentUser;else elseBlock">
                            <div class="w-100 p-2">
                                <button [routerLink]="['/profile']" routerLinkActive="router-link-active"
                                    class="btn btn-default py-0 px-0"><span class="fa fa-user"></span><span
                                        class="name_profile ml-2 ">Profile</span></button>
                            </div>
                            <div class="w-100 p-2" *ngIf="currentUser.idQuyen==1">
                                <button class="btn btn-default py-0 px-0" [routerLink]="['/admin']"
                                    routerLinkActive="router-link-active">
                                    <span class="fa fa-cog"></span>
                                    <span class="ml-2">Setting</span></button>
                            </div>
                            <div class="w-100 p-2" *ngIf="currentUser.idQuyen==2">
                                <button class="btn btn-default py-0 px-0" [routerLink]="['/nhanvien']"
                                    routerLinkActive="router-link-active">
                                    <span class="fa fa-cog"></span>
                                    <span class="ml-2">Setting</span></button>
                            </div>
                            <div class="w-100 p-2">
                                <button (click)="onLogout()" class="btn btn-default py-0 px-0"><span
                                        class="fa fa-power-off"></span><span class=" ml-2">Logout</span></button>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!currentUser">
                            <div class="d-flex flex-row justify-content-between">
                                <button class="btn btn-secondary bg-white text-secondary btn-sm"
                                    (click)="onDangKy()">Đăng ký</button>
                                <button class="btn btn-danger btn-sm" (click)="onDangNhap()">Đăng
                                    nhập</button>
                            </div>
                        </ng-container>


                    </div>
                </div>
                <div class="box_cart_header d-flex">
                    <div class="btn_cart align-self-center">
                        <button matBadge="{{countCarts}}" matBadgeOverlap="true" mat-icon-button color="accent"
                            style="font-size: 1.5rem;position: relative;width: 6rem;">
                            <div class="d-flex justify-content-between align-items-center">
                                <i class="fa fa-shopping-bag pl-3" style="color:#fff;font-size: 19px;">
                                </i>
                                <span style="color:#fff">|</span>
                                <span><i class="far fa-eye pr-3" style="color:#fff;font-size: 11px;"></i></span>
                            </div>
                        </button>
                    </div>
                    <div class="box_info_cart bg-white pt-2">
                        <app-cart></app-cart>
                        <div class="d-flex flex-column bg-khoi3 p-3 pt-0">
                            <a [routerLink]="['/giohang']" routerLinkActive="router-link-active"><span
                                    class="btn btn-danger w-100">Xem giỏ
                                    hàng</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="my_nav">
        <div class="container-fluid">
            <div class="row menu_home ">
                <div class="col-lg-12 p-0">
                    <ul class="nav my_ul d-flex overflow-auto flex-row flex-nowrap">
                        <li class="nav-item  ">
                            <a class="nav-link text-light" [routerLink]="['/']" routerLinkActive="router-link-active">
                                Trang chủ
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link text-light" [routerLink]="['/']" routerLinkActive="router-link-active">
                                Sản phẩm
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link text-light" [routerLink]="['/']" routerLinkActive="router-link-active">
                                Tin tức
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a class="nav-link text-light" [routerLink]="['/']" routerLinkActive="router-link-active">
                                Dịch vụ
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-light" [routerLink]="['/khuyenmai']"
                                routerLinkActive="router-link-active">Khuyến
                                mãi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" [routerLink]="['/about']"
                                routerLinkActive="router-link-active">Giới
                                thiệu</a>
                        </li>
                        <li class="nav-item d-none d-lg-block">
                            <a class="nav-link text-light" [routerLink]="['/contact']"
                                routerLinkActive="router-link-active">Liên
                                hệ</a>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-4 d-flex flex-row pt-2">


                </div>
            </div>
        </div>
    </div>
</ng-container>
