<ngx-slick-carousel #slickModal="slick-carousel" [config]="slideConfig" class="d-md-flex d-none flex-row px-0 "
    style="max-height: 500px ;max-width:100% ; width: fit-content;height: fit-content;">
    <div ngxSlickItem>
        <div class="card">
            <img src=".../../../../../../assets/upload/slides/banner_1.webp" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src=".../../../../../../assets/upload/slides/banner_2.jpg" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src=".../../../../../../assets/upload/slides/banner_3.jpg" class="h-100 w-100">
        </div>
    </div>
    <div ngxSlickItem>
        <div class="card">
            <img src=".../../../../../../assets/upload/slides/banner_4.jpg" class="h-100 w-100">
        </div>
    </div>
</ngx-slick-carousel>

